.container_kasir {
  margin: 0px 6px 0px 137px;
}
.wrapper-kasir {
  width: 75%;
  height: 100vh;
  background: #fafafa;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.wrapper-table-kasir {
  overflow: scroll;
  background: #fbe6d8;
  border-radius: 8px;
  margin-top: 12px;
  margin: 0 12px 0 12px;
}
.button-tambah-item {
  background: #eb853e;
  padding: 10px 18px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 24px;
  font-weight: 550;
}
.wrapper-mini-bar {
  width: 25%;
  height: 100vh;
  border-left: 1px solid #f4f4f4f4;
}
.wrapper-keranjang {
  overflow: scroll;
  max-height: 67vh;
  margin: 0 12px 12px 12px;
}
.input-qty {
  margin-right: 12px;
  width: 42px;
  height: 28px;
  font-size: 18px;
  text-align: center;
  outline: none;
}
.sub-total-item {
  text-align: end;
  margin: 0;
  font-size: 18px;
}
.wrapper-footer-kasir {
  position: fixed;
  bottom: 12px;
  width: -webkit-fill-available;
}
.wrapper-total-kasir {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  margin-bottom: 8px;
}
.wrapper-button-bayar {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.button-bayar {
  background: rgb(235, 133, 62);
  color: white;
  border-radius: 12px;
  border: none;
  padding: 8px 22px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.text-total-item {
  font-size: 18px;
  font-weight: 600;
  font-size: 18px;
}
.total-bayar {
  color: rgb(235, 133, 62);
  font-weight: 600;
  font-size: 20px;
}
.flex-justify-between-align-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-bar-produk {
  height: 28px;
  border-radius: 12px;
  border: 1px solid lightgray;
  width: 25%;
  padding: 2px 32px 2px 6px;
  outline: none;
}
.wrapper-radio {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.radio-jenis-pembayaran {
  display: flex;
  align-items: center;
}
.wrapper-sub-menu-kasir {
  background: white;
  padding: 24px 12px 24px 12px;
  display: flex;
  justify-content: space-evenly;
}
.submenu-active {
  text-decoration: underline;
  font-weight: 550;
  font-size: 18px;
  text-underline-offset: 5px;
}
.padding-td-kasir {
  border-top: 2px dashed black;
  padding: 12px 0px 12px 12px;
}
.button-finalisasi {
  padding: 8px 12px;
  cursor: pointer;
  background: red;
  border: none;
  color: white;
  border-radius: 8px;
}
.flex-center-kasir {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.refresh-button {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  cursor: pointer;
}
.kolom-selisih {
  border-right: 2px dashed black;
  border-bottom: 2px dashed black;
  border-left: 2px dashed black;
  font-weight: 600;
  font-size: 18px;
}

.padding-riwayat {
  padding: 12px 0px 12px 12px;
}

@media only screen and (max-width: 600px) {
  .wrapper-mini-bar {
    display: none;
  }
  .container_kasir {
    margin: 0;
  }
  .wrapper-kasir {
    width: 100%;
  }
  .padding-riwayat {
    padding: 6px 0px 6px 6px;
  }
}
