name: Deploy pos-fe

on:
  push:
    branches:
      - production

env:
  CI: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: npm install --legacy-peer-deps
      - name: Building a big long strong tower
        run: npm run build
      - name: Deploying built files
        run: npm run deploy -- -n pos-fe -p build -c "${{secrets.LYRID_API_KEY}}:${{secrets.LYRID_API_SECRET}}" --rid apsoutheast1
